*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(56, 18, 78);
    background-image: 
        /* radial-gradient(at 0% 0%, rgb(196, 99, 99), transparent 50%), */
        radial-gradient(at 40% 40%, rgb(181, 62, 62), transparent 80%),
        radial-gradient(at 50% 50%, rgb(46, 46, 135), transparent 70%);
}

.gradient-bg-home{
    height: 100vh;
}



.navbar{
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1{
    color: #d79ce9;
    font-weight: bold;
    font-size: 2vw;
    width: 100%;
    margin-left: 1em;
  }


  .login_btn{
    margin: 0 2em;
    padding: 0.5em 1.5em;
    font-weight: 600;
    font-size: 1em;
    background-color: beige;
    border: none;
    border-radius: 1em;
    transition: transform 0.1s ease;
    
    &:hover{
      transform: scaleX(20px);
      cursor: pointer;
      background-color: #d79ce9;
    }
  }

  .navbar_list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  
    .navbar_item{
      color: #d79ce9;
      font-size: 2em;
      margin: 0 1em;
      list-style: none;
      cursor: pointer;
      transition: 0.5s ease;
      font-weight: 600;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      &:hover{
        color: white;
      }
    }
  }
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;

  .home-aside{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3em 0 5em 0;
  }

  .home-left-container{
    margin-left: 4em;
    h1{
      font-size: 60px;
    }

    p{
      margin: 1em 0;
      font-size: 30px;
    }

    .wallet_btn{
      width: 50%;
      margin: 1em;
      padding: 0.5em 1.5em;
      font-weight: 600;
      font-size: 25px;
      background-color: beige;
      border: none;
      border-radius: 1em;
      transition: 0.1s ease;
      
      &:hover{
        transform: scaleX(20px);
        cursor: pointer;
        background-color: rgb(253, 253, 79);;
      }
    
    }
  }

  .home-right-container{

    form{
      padding: 1em;
      border: 1px solid black;
      border-radius: 1em;
      background-color: rgba(35, 5, 73, 0.722);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;

      input{
        &:focus{
          outline: none;
        }
        border-radius: 0.5em;
        width: 80%;
        margin: 1em;
        padding: 1em;
      }

      .btn_transaction{
        width: 50%;
        margin: 1em;
        padding: 0.5em 1.5em;
        font-weight: 600;
        font-size: 25px;
        background-color: beige;
        border: none;
        border-radius: 1em;
        transition: 0.1s ease;
        
        &:hover{
          transform: scaleX(20px);
          cursor: pointer;
          background-color: rgb(253, 253, 79);;
        }
      }
    
    }
  }

}



.service-section{
  width: 100%;
  height: auto;
  // background-color: rgb(56, 18, 78);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;

    h1{
      margin: 2em;
      width: 30%;
      font-size: 3vw;
    }

    div{
      margin: 1em;


      .service-card{
        display: flex;
        align-items: center;
        font-size: 18px;
        padding: 1em;
        border: 1px solid rgba(156, 156, 156, 0.112);
        border-radius: 2em;
        background-color: rgba(0, 0, 0, 0.185);
      }
    }
}


.transactions-section{
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom:  4em;
  h1{
    font-size: 45px;
  }

  .transactions-container { 
    margin-top: 1em;
    .transaction-card{
      background-color: rgb(85, 39, 120);
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 2em;

      a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
